<div id="body-sidebar">
    <nav>
        <ul>
            <li><a href="#" routerLink="/" title="Home"><span class="icon home"></span></a></li>
            <li><a href="#" routerLink="/sessions" title="Records"><span class="icon records"></span></a></li>
            <li><a href="#" routerLink="/sessions/charts" title="Charts"><span class="icon charts"></span></a></li>
            <li><a href="#" routerLink="/" title="Settings"><span class="icon settings"></span></a></li>
        </ul>
    </nav>
</div>

<div id="body-main">
    <header>
        <h1>{{ title }}</h1>
    </header>

    <router-outlet></router-outlet>
</div>

