$background: #374f6c;
$background-dark: #304863;
$highlight-cyan: #56d9e3;
$highlight-pink: #ed558d;

@import url('https://fonts.googleapis.com/css?family=Lato|Rubik:400&display=swap');

body {
  background-color: $background;
  margin: 0;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

body, input, select, option, button, textarea {
  color: white;
  font-family: Lato, sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: Rubik;
  margin: 0;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 120%;
}

a {
  color: $highlight-cyan;
  font-weight: bold;
  text-decoration: none;
}

ul {
  margin: 0;
}

article {
  background-color: $background-dark;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
}

table{
  width: 100%;
  border-spacing: 0 2px;

  thead {
    font-weight: bold;
    text-align: left;
  }

  tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  td, th {
    padding: 10px;
  }

  th {
    color: $highlight-pink;
    border-bottom: 2px solid $highlight-pink;
  }
}

#body-sidebar {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 0 0 auto;
  order: 1;
  padding: 20px 10px;

  nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 10px;

      a {
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 100%;
        display: inline-block;
        padding: 10px;
      }

      a:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }
}

#body-main {
  order: 2;
  padding: 20px;
  width: 100%;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;

  &.home {
    background-image: url("./assets/home.png");
  }

  &.records {
    background-image: url("assets/records.png");
  }

  &.charts {
    background-image: url("assets/charts.png");
  }

  &.settings {
    background-image: url("./assets/settings.png");
  }
}

@media all and (max-width: 768px) {

  body {
    flex-direction: column;
  }

  #body-sidebar {
    padding: 10px 20px;

    nav ul {
      flex-direction: row;

      li {
        margin: 0 10px 0 0;
      }
    }
  }
}
